body  {
    background-color: black;
    margin: 0;
}

#navbar {
    background-color: orange;
    color: white;
    padding: 10px 0 10px 0;
}

#home {
    margin-left: 200px;
    margin-right: 200px;
}

#index {
    margin-left: 200px;
    margin-right: 200px;
}

#questions {
    margin-left: 200px;
    margin-right: 200px;
}

#links {
    margin-left: 200px;
    margin-right: 200px;
}