body{
  background-color: #ED7839;
}
#chatArea{
  background-color: #38ACEC;
  width: 87em;
  height: 45em;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  float: right;
}
#startChat{
  position: absolute;
  bottom: 3em;
  margin-left: 2em;
  width: 98em;
}
#input{
  position: absolute;
  bottom: 3em;
  right: 1em;
  margin-right: 1em;
}
#name{
  font-size: 1.em;
  margin-bottom: 0;
  text-align: center;
  color: white;
}
#chatting{
  background-color: white;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 37em;
  width: 83em;
  overflow-y: auto;
}
#chatTheir{
  min-height: 1em;
  float: left;
  width: 100%
}
#chatMine{
  min-height: 1em;
  float: right;
  width: 100%;
}
#textTheir{
  padding: 1em;
  padding-top: 1em;
  background-color: #4CC417;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.1em;
  max-width: 40em;
  border-radius: 1em;
  word-wrap: break-word;
}
#textMine{
  padding: 1em;
  float: right;
  background-color: #9118C4;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.1em;
  max-width: 40em;
  border-radius: 1em;
  word-wrap: break-word;
}
